:root {
    --primary-color: var(--p-primary-color);
    --primary-contrast-color: var(--p-primary-contrast-color);
    --text-color: var(--p-text-color);
    --text-color-secondary: var(--p-text-muted-color);
    --surface-border: var(--p-content-border-color);
    --surface-card: var(--p-content-background);
    --surface-hover: var(--p-content-hover-background);
    --surface-overlay: var(--p-overlay-popover-background);
    --transition-duration: var(--p-transition-duration);
    --maskbg: var(--p-mask-background);
    --content-border-radius: var(--p-content-border-radius);
    --layout-section-transition-duration: 0.2s;
    --element-transition-duration: var(--p-transition-duration);
    --focus-ring-width: var(--p-focus-ring-width);
    --focus-ring-style: var(--p-focus-ring-style);
    --focus-ring-color: var(--p-focus-ring-color);
    --focus-ring-offset: var(--p-focus-ring-offset);
    --focus-ring-shadow: var(--p-focus-ring-shadow);

    --p-secondary-0: #FDE5E2;
    --p-secondary-50: #FBCDC8;
    --p-secondary-100: #F8B4AC;
    --p-secondary-200: #F5928A;
    --p-secondary-300: #F2706A;
    --p-secondary-400: #EF584F;
    --p-secondary-500: #EA533C;
    --p-secondary-600: #D44B36;
    --p-secondary-700: #B84130;
    --p-secondary-800: #9B3729;
    --p-secondary-900: #7D2D22;

    --secondary-color: var(--p-secondary-500);
}
