:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
}
// DARK MODE
$tones: 0,50,100,200,300,400,500,600,700,800,900;
$opacities: 10,20,30,40,50,60,70,80,90,100;


// TEXT SECONDARY
.dark\:text-secondary:where([class*="app-dark"],[class*="app-dark"] *)
{ color: var(--secondary-color); }
.dark\:\!text-secondary:where([class*="app-dark"],[class*="app-dark"] *)
{ color: var(--secondary-color) !important; }

// BG SECONDARY
.dark\:bg-secondary:where([class*="app-dark"],[class*="app-dark"] *)
{ background-color: var(--secondary-color); }
.dark\:\!bg-secondary:where([class*="app-dark"],[class*="app-dark"] *)
{ background-color: var(--secondary-color) !important; }

@each $opacity in $opacities
{
    .dark\:text-secondary\/#{$opacity}:where([class*="app-dark"],[class*="app-dark"] *)
    { color: color-mix(in srgb, var(--secondary-color) calc(100% * #{calc($opacity / 100)}), transparent); }

    .dark\:\!text-secondary\/#{$opacity}:where([class*="app-dark"],[class*="app-dark"] *)
    { color: color-mix(in srgb, var(--secondary-color) calc(100% * #{calc($opacity / 100)}), transparent) !important; }

    .dark\:bg-secondary\/#{$opacity}:where([class*="app-dark"],[class*="app-dark"] *)
    { background-color: color-mix(in srgb, var(--secondary-color) calc(100% * #{calc($opacity / 100)}), transparent); }

    .dark\:\!bg-secondary\/#{$opacity}:where([class*="app-dark"],[class*="app-dark"] *)
    { background-color: color-mix(in srgb, var(--secondary-color) calc(100% * #{calc($opacity / 100)}), transparent) !important; }
}

@each $tone in $tones{
    
    // Normal Text Tones
    .dark\:text-secondary-#{$tone}:where([class*="app-dark"],[class*="app-dark"] *)
    { color: var(--p-secondary-#{$tone}); }
    .dark\:\!text-secondary-#{$tone}:where([class*="app-dark"],[class*="app-dark"] *)
    { color: var(--p-secondary-#{$tone}) !important; }

    // Normal Background Tones
    .dark\:bg-secondary-#{$tone}:where([class*="app-dark"],[class*="app-dark"] *)
    { background-color: var(--p-secondary-#{$tone}); }
    .dark\:\!bg-secondary-#{$tone}:where([class*="app-dark"],[class*="app-dark"] *)
    { background-color: var(--p-secondary-#{$tone}) !important; }

    // Dynamic Opacity
    @each $opacity in $opacities{

        .dark\:text-secondary-#{$tone}\/#{$opacity}:where([class*="app-dark"],[class*="app-dark"] *)
        { color: color-mix(in srgb, var(--p-secondary-#{$tone}) calc(100% * #{calc($opacity / 100)}), transparent); }

        .dark\:\!text-secondary-#{$tone}\/#{$opacity}:where([class*="app-dark"],[class*="app-dark"] *)
        { color: color-mix(in srgb, var(--p-secondary-#{$tone}) calc(100% * #{calc($opacity / 100)}), transparent) !important; }

        .dark\:bg-secondary-#{$tone}\/#{$opacity}:where([class*="app-dark"],[class*="app-dark"] *)
        { background-color: color-mix(in srgb, var(--p-secondary-#{$tone}) calc(100% * #{calc($opacity / 100)}), transparent); }

        .dark\:\!bg-secondary-#{$tone}\/#{$opacity}:where([class*="app-dark"],[class*="app-dark"] *)
        { background-color: color-mix(in srgb, var(--p-secondary-#{$tone}) calc(100% * #{calc($opacity / 100)}), transparent) !important; }
        
    }
}