:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
}

// LIGHT MODE
.text-secondary,.text-secondary-500{ color: var(--secondary-color); }
.text-secondary-0{ color: var(--p-secondary-0); }
.text-secondary-50{ color: var(--p-secondary-50); }
.text-secondary-100{ color: var(--p-secondary-100); }
.text-secondary-200{ color: var(--p-secondary-200); }
.text-secondary-300{ color: var(--p-secondary-300); }
.text-secondary-400{ color: var(--p-secondary-400); }
.text-secondary-600{ color: var(--p-secondary-600); }
.text-secondary-700{ color: var(--p-secondary-700); }
.text-secondary-800{ color: var(--p-secondary-800); }
.text-secondary-900{ color: var(--p-secondary-900); }

.bg-secondary,.bg-secondary-500{ background-color: var(--secondary-color); }
.bg-secondary-0{ background-color: var(--p-secondary-0); }
.bg-secondary-50{ background-color: var(--p-secondary-50); }
.bg-secondary-100{ background-color: var(--p-secondary-100); }
.bg-secondary-200{ background-color: var(--p-secondary-200); }
.bg-secondary-300{ background-color: var(--p-secondary-300); }
.bg-secondary-400{ background-color: var(--p-secondary-400); }
.bg-secondary-600{ background-color: var(--p-secondary-600); }
.bg-secondary-700{ background-color: var(--p-secondary-700); }
.bg-secondary-800{ background-color: var(--p-secondary-800); }
.bg-secondary-900{ background-color: var(--p-secondary-900); }

.bg-secondary\/10,
.bg-secondary-500\/10 { background-color: color-mix(in srgb, var(--p-secondary-500) calc(100% * 0.1), transparent) }
.bg-secondary-0\/10 { background-color: color-mix(in srgb, var(--p-secondary-0) calc(100% * 0.1), transparent) }
.bg-secondary-50\/10 { background-color: color-mix(in srgb, var(--p-secondary-50) calc(100% * 0.1), transparent) }
.bg-secondary-100\/10 { background-color: color-mix(in srgb, var(--p-secondary-100) calc(100% * 0.1), transparent) }
.bg-secondary-200\/10 { background-color: color-mix(in srgb, var(--p-secondary-200) calc(100% * 0.1), transparent) }
.bg-secondary-300\/10 { background-color: color-mix(in srgb, var(--p-secondary-300) calc(100% * 0.1), transparent) }
.bg-secondary-400\/10 { background-color: color-mix(in srgb, var(--p-secondary-400) calc(100% * 0.1), transparent) }
.bg-secondary-600\/10 { background-color: color-mix(in srgb, var(--p-secondary-600) calc(100% * 0.1), transparent) }
.bg-secondary-700\/10 { background-color: color-mix(in srgb, var(--p-secondary-700) calc(100% * 0.1), transparent) }
.bg-secondary-800\/10 { background-color: color-mix(in srgb, var(--p-secondary-800) calc(100% * 0.1), transparent) }
.bg-secondary-900\/10 { background-color: color-mix(in srgb, var(--p-secondary-900) calc(100% * 0.1), transparent) }

.bg-secondary\/20,
.bg-secondary-500\/20 { background-color: color-mix(in srgb, var(--p-secondary-500) calc(100% * 0.2), transparent) }
.bg-secondary-0\/20 { background-color: color-mix(in srgb, var(--p-secondary-0) calc(100% * 0.2), transparent) }
.bg-secondary-50\/20 { background-color: color-mix(in srgb, var(--p-secondary-50) calc(100% * 0.2), transparent) }
.bg-secondary-100\/20 { background-color: color-mix(in srgb, var(--p-secondary-100) calc(100% * 0.2), transparent) }
.bg-secondary-200\/20 { background-color: color-mix(in srgb, var(--p-secondary-200) calc(100% * 0.2), transparent) }
.bg-secondary-300\/20 { background-color: color-mix(in srgb, var(--p-secondary-300) calc(100% * 0.2), transparent) }
.bg-secondary-400\/20 { background-color: color-mix(in srgb, var(--p-secondary-400) calc(100% * 0.2), transparent) }
.bg-secondary-600\/20 { background-color: color-mix(in srgb, var(--p-secondary-600) calc(100% * 0.2), transparent) }
.bg-secondary-700\/20 { background-color: color-mix(in srgb, var(--p-secondary-700) calc(100% * 0.2), transparent) }
.bg-secondary-800\/20 { background-color: color-mix(in srgb, var(--p-secondary-800) calc(100% * 0.2), transparent) }
.bg-secondary-900\/20 { background-color: color-mix(in srgb, var(--p-secondary-900) calc(100% * 0.2), transparent) }

.bg-secondary\/30,
.bg-secondary-500\/30 { background-color: color-mix(in srgb, var(--p-secondary-500) calc(100% * 0.3), transparent) }
.bg-secondary-0\/30 { background-color: color-mix(in srgb, var(--p-secondary-0) calc(100% * 0.3), transparent) }
.bg-secondary-50\/30 { background-color: color-mix(in srgb, var(--p-secondary-50) calc(100% * 0.3), transparent) }
.bg-secondary-100\/30 { background-color: color-mix(in srgb, var(--p-secondary-100) calc(100% * 0.3), transparent) }
.bg-secondary-200\/30 { background-color: color-mix(in srgb, var(--p-secondary-200) calc(100% * 0.3), transparent) }
.bg-secondary-300\/30 { background-color: color-mix(in srgb, var(--p-secondary-300) calc(100% * 0.3), transparent) }
.bg-secondary-400\/30 { background-color: color-mix(in srgb, var(--p-secondary-400) calc(100% * 0.3), transparent) }
.bg-secondary-600\/30 { background-color: color-mix(in srgb, var(--p-secondary-600) calc(100% * 0.3), transparent) }
.bg-secondary-700\/30 { background-color: color-mix(in srgb, var(--p-secondary-700) calc(100% * 0.3), transparent) }
.bg-secondary-800\/30 { background-color: color-mix(in srgb, var(--p-secondary-800) calc(100% * 0.3), transparent) }
.bg-secondary-900\/30 { background-color: color-mix(in srgb, var(--p-secondary-900) calc(100% * 0.3), transparent) }

.bg-secondary\/40,
.bg-secondary-500\/40 { background-color: color-mix(in srgb, var(--p-secondary-500) calc(100% * 0.4), transparent) }
.bg-secondary-0\/40 { background-color: color-mix(in srgb, var(--p-secondary-0) calc(100% * 0.4), transparent) }
.bg-secondary-50\/40 { background-color: color-mix(in srgb, var(--p-secondary-50) calc(100% * 0.4), transparent) }
.bg-secondary-100\/40 { background-color: color-mix(in srgb, var(--p-secondary-100) calc(100% * 0.4), transparent) }
.bg-secondary-200\/40 { background-color: color-mix(in srgb, var(--p-secondary-200) calc(100% * 0.4), transparent) }
.bg-secondary-300\/40 { background-color: color-mix(in srgb, var(--p-secondary-300) calc(100% * 0.4), transparent) }
.bg-secondary-400\/40 { background-color: color-mix(in srgb, var(--p-secondary-400) calc(100% * 0.4), transparent) }
.bg-secondary-600\/40 { background-color: color-mix(in srgb, var(--p-secondary-600) calc(100% * 0.4), transparent) }
.bg-secondary-700\/40 { background-color: color-mix(in srgb, var(--p-secondary-700) calc(100% * 0.4), transparent) }
.bg-secondary-800\/40 { background-color: color-mix(in srgb, var(--p-secondary-800) calc(100% * 0.4), transparent) }
.bg-secondary-900\/40 { background-color: color-mix(in srgb, var(--p-secondary-900) calc(100% * 0.4), transparent) }

.bg-secondary\/50,
.bg-secondary-500\/50 { background-color: color-mix(in srgb, var(--p-secondary-500) calc(100% * 0.5), transparent) }
.bg-secondary-0\/50 { background-color: color-mix(in srgb, var(--p-secondary-0) calc(100% * 0.5), transparent) }
.bg-secondary-50\/50 { background-color: color-mix(in srgb, var(--p-secondary-50) calc(100% * 0.5), transparent) }
.bg-secondary-100\/50 { background-color: color-mix(in srgb, var(--p-secondary-100) calc(100% * 0.5), transparent) }
.bg-secondary-200\/50 { background-color: color-mix(in srgb, var(--p-secondary-200) calc(100% * 0.5), transparent) }
.bg-secondary-300\/50 { background-color: color-mix(in srgb, var(--p-secondary-300) calc(100% * 0.5), transparent) }
.bg-secondary-400\/50 { background-color: color-mix(in srgb, var(--p-secondary-400) calc(100% * 0.5), transparent) }
.bg-secondary-600\/50 { background-color: color-mix(in srgb, var(--p-secondary-600) calc(100% * 0.5), transparent) }
.bg-secondary-700\/50 { background-color: color-mix(in srgb, var(--p-secondary-700) calc(100% * 0.5), transparent) }
.bg-secondary-800\/50 { background-color: color-mix(in srgb, var(--p-secondary-800) calc(100% * 0.5), transparent) }
.bg-secondary-900\/50 { background-color: color-mix(in srgb, var(--p-secondary-900) calc(100% * 0.5), transparent) }

.bg-secondary\/60,
.bg-secondary-500\/60 { background-color: color-mix(in srgb, var(--p-secondary-500) calc(100% * 0.6), transparent) }
.bg-secondary-0\/60 { background-color: color-mix(in srgb, var(--p-secondary-0) calc(100% * 0.6), transparent) }
.bg-secondary-50\/60 { background-color: color-mix(in srgb, var(--p-secondary-50) calc(100% * 0.6), transparent) }
.bg-secondary-100\/60 { background-color: color-mix(in srgb, var(--p-secondary-100) calc(100% * 0.6), transparent) }
.bg-secondary-200\/60 { background-color: color-mix(in srgb, var(--p-secondary-200) calc(100% * 0.6), transparent) }
.bg-secondary-300\/60 { background-color: color-mix(in srgb, var(--p-secondary-300) calc(100% * 0.6), transparent) }
.bg-secondary-400\/60 { background-color: color-mix(in srgb, var(--p-secondary-400) calc(100% * 0.6), transparent) }
.bg-secondary-600\/60 { background-color: color-mix(in srgb, var(--p-secondary-600) calc(100% * 0.6), transparent) }
.bg-secondary-700\/60 { background-color: color-mix(in srgb, var(--p-secondary-700) calc(100% * 0.6), transparent) }
.bg-secondary-800\/60 { background-color: color-mix(in srgb, var(--p-secondary-800) calc(100% * 0.6), transparent) }
.bg-secondary-900\/60 { background-color: color-mix(in srgb, var(--p-secondary-900) calc(100% * 0.6), transparent) }

.bg-secondary\/70,
.bg-secondary-500\/70 { background-color: color-mix(in srgb, var(--p-secondary-500) calc(100% * 0.7), transparent) }
.bg-secondary-0\/70 { background-color: color-mix(in srgb, var(--p-secondary-0) calc(100% * 0.7), transparent) }
.bg-secondary-50\/70 { background-color: color-mix(in srgb, var(--p-secondary-50) calc(100% * 0.7), transparent) }
.bg-secondary-100\/70 { background-color: color-mix(in srgb, var(--p-secondary-100) calc(100% * 0.7), transparent) }
.bg-secondary-200\/70 { background-color: color-mix(in srgb, var(--p-secondary-200) calc(100% * 0.7), transparent) }
.bg-secondary-300\/70 { background-color: color-mix(in srgb, var(--p-secondary-300) calc(100% * 0.7), transparent) }
.bg-secondary-400\/70 { background-color: color-mix(in srgb, var(--p-secondary-400) calc(100% * 0.7), transparent) }
.bg-secondary-600\/70 { background-color: color-mix(in srgb, var(--p-secondary-600) calc(100% * 0.7), transparent) }
.bg-secondary-700\/70 { background-color: color-mix(in srgb, var(--p-secondary-700) calc(100% * 0.7), transparent) }
.bg-secondary-800\/70 { background-color: color-mix(in srgb, var(--p-secondary-800) calc(100% * 0.7), transparent) }
.bg-secondary-900\/70 { background-color: color-mix(in srgb, var(--p-secondary-900) calc(100% * 0.7), transparent) }

.bg-secondary\/80,
.bg-secondary-500\/80 { background-color: color-mix(in srgb, var(--p-secondary-500) calc(100% * 0.8), transparent) }
.bg-secondary-0\/80 { background-color: color-mix(in srgb, var(--p-secondary-0) calc(100% * 0.8), transparent) }
.bg-secondary-50\/80 { background-color: color-mix(in srgb, var(--p-secondary-50) calc(100% * 0.8), transparent) }
.bg-secondary-100\/80 { background-color: color-mix(in srgb, var(--p-secondary-100) calc(100% * 0.8), transparent) }
.bg-secondary-200\/80 { background-color: color-mix(in srgb, var(--p-secondary-200) calc(100% * 0.8), transparent) }
.bg-secondary-300\/80 { background-color: color-mix(in srgb, var(--p-secondary-300) calc(100% * 0.8), transparent) }
.bg-secondary-400\/80 { background-color: color-mix(in srgb, var(--p-secondary-400) calc(100% * 0.8), transparent) }
.bg-secondary-600\/80 { background-color: color-mix(in srgb, var(--p-secondary-600) calc(100% * 0.8), transparent) }
.bg-secondary-700\/80 { background-color: color-mix(in srgb, var(--p-secondary-700) calc(100% * 0.8), transparent) }
.bg-secondary-800\/80 { background-color: color-mix(in srgb, var(--p-secondary-800) calc(100% * 0.8), transparent) }
.bg-secondary-900\/80 { background-color: color-mix(in srgb, var(--p-secondary-900) calc(100% * 0.8), transparent) }

.bg-secondary\/90,
.bg-secondary-500\/90 { background-color: color-mix(in srgb, var(--p-secondary-500) calc(100% * 0.9), transparent) }
.bg-secondary-0\/90 { background-color: color-mix(in srgb, var(--p-secondary-0) calc(100% * 0.9), transparent) }
.bg-secondary-50\/90 { background-color: color-mix(in srgb, var(--p-secondary-50) calc(100% * 0.9), transparent) }
.bg-secondary-100\/90 { background-color: color-mix(in srgb, var(--p-secondary-100) calc(100% * 0.9), transparent) }
.bg-secondary-200\/90 { background-color: color-mix(in srgb, var(--p-secondary-200) calc(100% * 0.9), transparent) }
.bg-secondary-300\/90 { background-color: color-mix(in srgb, var(--p-secondary-300) calc(100% * 0.9), transparent) }
.bg-secondary-400\/90 { background-color: color-mix(in srgb, var(--p-secondary-400) calc(100% * 0.9), transparent) }
.bg-secondary-600\/90 { background-color: color-mix(in srgb, var(--p-secondary-600) calc(100% * 0.9), transparent) }
.bg-secondary-700\/90 { background-color: color-mix(in srgb, var(--p-secondary-700) calc(100% * 0.9), transparent) }
.bg-secondary-800\/90 { background-color: color-mix(in srgb, var(--p-secondary-800) calc(100% * 0.9), transparent) }
.bg-secondary-900\/90 { background-color: color-mix(in srgb, var(--p-secondary-900) calc(100% * 0.9), transparent) }
