:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
}

// LIGHT MODE
$tones: 0,50,100,200,300,400,500,600,700,800,900;
$opacities: 10,20,30,40,50,60,70,80,90,100;


// TEXT SECONDARY
.text-secondary{ color: var(--secondary-color); }
.\!text-secondary{ color: var(--secondary-color) !important; }

// BG SECONDARY
.bg-secondary{ background-color: var(--secondary-color); }
.\!bg-secondary{ background-color: var(--secondary-color) !important; }

@each $opacity in $opacities
{
    .text-secondary\/#{$opacity}
    { color: color-mix(in srgb, var(--secondary-color) calc(100% * #{calc($opacity / 100)}), transparent); }

    .\!text-secondary\/#{$opacity}
    { color: color-mix(in srgb, var(--secondary-color) calc(100% * #{calc($opacity / 100)}), transparent) !important; }

    .bg-secondary\/#{$opacity}
    { background-color: color-mix(in srgb, var(--secondary-color) calc(100% * #{calc($opacity / 100)}), transparent); }

    .\!bg-secondary\/#{$opacity}
    { background-color: color-mix(in srgb, var(--secondary-color) calc(100% * #{calc($opacity / 100)}), transparent) !important; }
}

@each $tone in $tones{
    
    // Normal Text Tones
    .text-secondary-#{$tone}{ color: var(--p-secondary-#{$tone}); }
    .\!text-secondary-#{$tone}{ color: var(--p-secondary-#{$tone}) !important; }

    // Normal Background Tones
    .bg-secondary-#{$tone}{ background-color: var(--p-secondary-#{$tone}); }
    .\!bg-secondary-#{$tone}{ background-color: var(--p-secondary-#{$tone}) !important; }

    // Dynamic Opacity
    @each $opacity in $opacities{

        .text-secondary-#{$tone}\/#{$opacity}
        { color: color-mix(in srgb, var(--p-secondary-#{$tone}) calc(100% * #{calc($opacity / 100)}), transparent); }

        .\!text-secondary-#{$tone}\/#{$opacity}
        { color: color-mix(in srgb, var(--p-secondary-#{$tone}) calc(100% * #{calc($opacity / 100)}), transparent) !important; }

        .bg-secondary-#{$tone}\/#{$opacity}
        { background-color: color-mix(in srgb, var(--p-secondary-#{$tone}) calc(100% * #{calc($opacity / 100)}), transparent); }

        .\!bg-secondary-#{$tone}\/#{$opacity}
        { background-color: color-mix(in srgb, var(--p-secondary-#{$tone}) calc(100% * #{calc($opacity / 100)}), transparent) !important; }
        
    }
}